* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(37, 37, 37) !important;
    color: white !important;
}

h3 {
    margin: 3px;
}

#contenedor-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

#lista {
    min-height: 80vh;
    max-height: 500vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}

p{
    max-width: fit-content;
}

h2 {
    text-align: center;
    margin-top: 10vh;
}

input {
    border-radius: 15px;
    padding: 5px;
    margin: 3px;
}

@media (min-width: 768px) and (max-width: 900px) {
    #lista {
        min-height: 80vh;
        max-height: 1000vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    #lista {
        min-height: 80vh;
        max-height: 2000vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
    }
    #contenedor-busqueda {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vh;
        margin-top: 10px;
    }
    input {
        min-width: 100px;
    }
}

@media (max-width: 400px) {
    #lista {
        min-height: 80vh;
        max-height: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
    }
    #contenedor-busqueda {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5vh;
        margin-top: 10px;
    }
    input {
        min-width: 100px;
    }
}